{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>{{ hendelse.getNavn() }}</h1>
				<p class="lead">{{ hendelse.getStart()|dato('l j.M H:i')|capitalize }}, {{ hendelse.getSted() }}</p>
				<p>{{ kategori.description|raw }}</p>

				{% for post in posts.getAll() %}
					<div class="card UKMcard mb-2 p-0 showPost post" data-post-url="{{ post.url }}">
						<div class="card-body m-0 p-0">
							<div class="husk m-2 float-right">
								<div class="icon icon-star-{{ HUSK('hendelse_post-'~ post.ID ) ? 'full' : 'outlined'}} click huskMeg" data-husk="hendelse_post" data-husk-id="{{ post.ID }}" data-husk-status="{{ HUSK('hendelse_post-'~ post.ID ) ? 'true':'false' }}"></div>
							</div>

							<div class="header click m-2">
								<div class="hendelse">
									<div class="name bold">
										<a href="{{ post.url }}">{{ post.title|raw }}</a>
									</div>
									<div class="description">
										{{ post.lead|raw }}
									</div>
								</div>
							</div>
							<div class="data" style="display:none; margin-left: -.4rem !important; margin-top: 1rem;">
								<div class="center">Vennligst vent, laster inn..</div>
							</div>

							<div class="categories my-2" style="margin-left: -.4rem !important;">
								<div class="col-12">
									I programmet: 
									{% for category in post.categories %}
										{#<a href="{{ category.url }}" class="badge badge-primary">{{ category.name }}</a>#}
										{{ category.name }}{{ not loop.last ? ', ' :'' }}
									{% endfor %}
								</div>
							</div>

							<div class="cancel m-2" style="text-align:right; display:none;">
								<button type="button" class="btn btn-outline-primary btn-sm hidePost">Lukk</button>
							</div>

						</div>
					</div>
				{% endfor %}

				<p class="my-4">
					<a href="../">Tilbake til rammeprogrammet</a>
				</p>
			</div>
		</div>

	</div>
{% endblock %}