{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
    {% if hendelse.erFremhevet() %}
    <style>

        :root {
            --ukm_blaa: rgba(0, 0, 71, 1);
            --ukm_rosa: rgba(255, 18, 139, 1);
            --ukm_gul: rgba(255, 240, 86, 1);
            --ukm_gronn: rgba(0, 255, 137, 1);
        }
        body {
            background: var(--ukm_blaa) !important;
            color: var(--ukm_gul);
        }

        #UKMheader {
            background: var(--ukm_gul) !important;
            color: var(--ukm_blaa) !important;
        }
        .order, .noImage {
            background: transparent !important;
            color: var(--ukm_gul) !important;
        }

        .sectionTitle a {
            color: var(--ukm_blaa) !important;
        }
        .sjanger, .kommune {
            color: var(--ukm_blaa) !important;
        }

        .data {
            background: var(--ukm_gul) !important;
        }

        .innslagCard {
            background: var(--ukm_blaa) !important;
            color: var(--ukm_gul);
            border: 2px solid var(--ukm_gul);
            box-shadow: none;
        }

        h4.linje {
            color: var(--ukm_gul) !important;
            border-bottom: 2px solid var(--ukm_gul) !important;
        }

        a:link, a:active, a:focus, a:visited {
            color: var(--ukm_gul);
        }

        footer {
            background: var(--ukm_gul) !important;
            border-top: 1px solid var(--ukm_gul) !important;
        }

        
    </style>
    {% endif %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>{{ hendelse.getNavn() }}</h3>
				<p>{{ hendelse.getStart()|dato('l j.M H:i')|capitalize }}, {{ hendelse.getSted() }}</p>
				{% if hendelse.getBeskrivelse() is not empty %}
					<p>{{ hendelse.getBeskrivelse()|nl2br }}</p>
				{% endif %}
				
				{% for innslag in hendelse.getInnslag().getAll() %}
					<div class="card innslagCard UKMcard mb-2 p-0" data-visning="skjult" data-id="{{ innslag.getId() }}">
				 		{% embed 'Monstring/innslag-liste.html.twig' with {'innslag': innslag, 'hendelse': hendelse } %}{% endembed %}
					</div>
				{% endfor %}

				<p class="my-4">
					<a href="../">Tilbake til rammeprogrammet</a>
				</p>
			</div>
		</div>

	</div>
   	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}