{#
CONTAINER 
 (javascript.slideDown() trigges når HTML er lastet) 
 <div class="row-flex" id="UKM_favoritt" style="display:none;">
#}
<div class="UKMfavoritt" style="display:none">
	<div class="header">
		<div class="row align-items-center py-1">
			<div class="col-9">
				<div class="icon-container">
					<span class="icon icon-heart"></span>
				</div>
				<p class="name">
					 {{ monstring.getNavn() }}
				</p>
			</div>
			<div class="col-3 date right pr-4">
				{{ monstring.getStart()|dato('j. F') }}
			</div>
		</div>
	</div>
	<div class="body pt-1 pb-2">
		{% if lokalmonstring is defined %}
			<div class="row-flex">
				<div class="col-12 small">
					<p class="mt-2">
						<a href="{{ lokalmonstring.getLink() }}">UKM {{ lokalmonstring.getNavn() }}</a>
						er ferdig, og du ser derfor info om {{ monstring.getNavn() }}.
					</p>
				</div>
			</div>
		{% else %}
			<div class="col-12 small right">
				<a href="{{ Sitemap.getPage('UKM', 'derdubor') }}">Er ikke {{ monstring.getNavn() }} ditt UKM?</a>
			</div>
		{% endif %}

		
		<div class="row-flex">
			<div class="col-12">
				<div class="row-flex mt-2 small center">
					{% embed ("UKMDesignBundle:"~ (lokalmonstring is defined ? 'Fylke' : 'Kommune') ~":meny.html.twig")|UKMpath %}{% endembed %}
				</div>
			</div>
			{% if post is defined and post is not empty %}
				<div class="col-12">
					<div class="mt-3 p-0 px-0">
						<div class="row mb-0 pb-0 post small">
							<div class="col-4 px-0 post-grid-default mt-2">
								<div class="image" style="background-image: url('{{ post.image.medium.src }}');">
									<span class="badge badge-primary small" style="font-weight: normal">Siste nyhet</span>
								</div>
							</div>
							<div class="col-8 py-1 pr-1">
								<p class="bold pt-0 mt-0 mb-0">{{ post.title|raw }}</p>
								<p class="nocolor mt-0 mb-1">
									{{ post.lead|raw }}
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>

		{% if lokalmonstring is defined %}
			<div class="row-flex">
				<div class="col-12 small">
					<a href="{{ Sitemap.getPage('UKM', 'derdubor') }}">Er ikke {{ lokalmonstring.getNavn() }} ditt UKM?</a>
				</div>
			</div>
		{% endif %}

		<div class="clearfix"></div>
	</div>
</div>
