<!DOCTYPE html>
<html lang="en">
	<head>
		{# CHARSET AND VIEWPORT #}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<title>{{ view.getBlog().getTitle() }}</title>
		<link rel="shortcut icon" href="//grafikk.ukm.no/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" href="{{blog.feed}}" title="{{blog.name}} RSS-feed" />
		{% embed "UKMDesignBundle:Layout:seo.html.twig"|UKMpath %}{% endembed %}

		{# STYLES #}
		<link href="{{ UKMasset("css/bootstrap.min.css") }}" rel="stylesheet" />
		<link href="{{ UKMasset("css/UKMresponsive.css") }}" rel="stylesheet" />

		{# SCRIPTS #}
		<script type="text/javascript" src="{{ UKMasset("js/jquery-2.2.4.min.js") }}"></script>
		<script type="text/javascript" src="{{ UKMasset("js/UKMresponsive.js") }}"></script>
		
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.10&appId=459906850746266";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</head>
	
</html>

<body>
	<div id="fb-root"></div>{# FACEBOOK #}
	{% embed "UKMDesignBundle:Layout:header.html.twig"|UKMpath %}{% endembed %}

	<div class="container-fluid" id="UKMDesign_sitemap" style="display:none;">
		{% embed "UKMDesignBundle:Layout:nav.html.twig"|UKMpath with {'hidden': true} %}{% endembed %}
	</div>
	<div id="UKMDesign_content">
		{% block content %}Designfil mangler content-block.{% endblock %}
	</div>
	
	{% embed "UKMDesignBundle:Layout:footer.html.twig"|UKMpath %}{% endembed %}
</body>

