{% block navbar %}
	<div class="container-fluid {{ showSlogan is defined ? 'navbar-with-slogan' : '' }}">
		<header>
			<div class="float-right">
				<a href="{{ view.getPath().getBlog() }}hovedmeny/">
					<button type="button" class="btn btn-sm my-2 {{ showSlogan is defined ? 'btn-outline-light' : 'btn-outline-primary' }}" id="main_menu_button" data-status="hidden">MENY</button>
				</a>
			</div>
		
			{# BRAND ICON #}
			<div class="navbar-header float-left">
				<a href="/">
					<img src="http://grafikk.ukm.no/profil/logo/UKM_logo{{ showSlogan is defined ? '_helhvit_0100' : '' }}.png" id="UKMlogo" width="70" />
				</a>
			</div>
			
			{% if sectionTitle is defined %}
				<div class="sectionTitle center">{{ sectionTitle }}</div>
			{% endif %}
	
			<div class="clearfix"></div>
		</header>
		{% if showSlogan is defined %}
			<div class="container" id="UKMslogan_container">
				<div class="row">
					<div class="col-12">
				    	<p class="lead center" id="UKMslogan">{% block slogan %}{{ THEME_CONFIG('slogan') }}{% endblock %}</p>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	
	<div class="navbar-separator"></div>
{% endblock %}	

