{% block navbar %}
	<div class="container-fluid {{ HEADER.background.url is defined ? 'background' }}" id="UKMheader" style="{{ HEADER.background.url is defined ? "background-image:url('"~ HEADER.background.url ~"');" }} background-position: {{ HEADER.background.position is defined ? HEADER.background.position : '0px 0px;'}}">
		{% if HEADER.background.url_large is defined and HEADER.background.url_large is not empty %}
			<style>
				@media (min-width: 992px) {
					#UKMheader {
						background-image: url('{{ HEADER.background.url_large }}') !important;
					}
				}
			</style>
		{% endif %}
		<header>
			<div class="float-right">
				<a href="//{{ UKM_HOSTNAME }}/hovedmeny/">
					<button type="button" class="btn btn-sm my-2 btn-outline-{{ HEADER.background.url is defined ? 'light' : 'primary' }} " style="{{ HEADER.button.background is defined ? 'background: '~ HEADER.button.background ~';'}}" id="main_menu_button" data-status="hidden">MENY</button>
				</a>
			</div>
		
			{# BRAND ICON #}
			<div class="navbar-header float-left">
				{% if HEADER.logo.url is defined and HEADER.hideLogo is not defined %}
					<a href="{{ HEADER.logo.link }}">
						<img src="{{ HEADER.logo.url }}" id="CUSTOMlogo" />
					</a>
				{% elseif HEADER.hideLogo is not defined %}
					<a href="{{ Sitemap.getPage('UKM', 'forsiden') }}">
						<img src="//grafikk.ukm.no/profil/logo/UKM_logo{{ HEADER.background.url is defined and HEADER.background.url is not empty ? '_helhvit_0100' : '_bla_0100' }}.png" id="UKMlogo" />
					</a>
				{% endif %}
			</div>
			
			{% if section is defined and HEADER.background.url is not defined%}
				<div class="sectionTitle center">
					<a href="{{ section.url }}">{{ section.title }}</a>
				</div>
			{% endif %}
	
			<div class="clearfix"></div>
		</header>
		{% if HEADER.slogan is defined %}
			<div class="container" id="UKMslogan_container">
				<div class="row">
					<div class="col-12">
				    	<p class="lead center" id="UKMslogan">{{ HEADER.slogan is defined ? HEADER.slogan }}</p>
					</div>
				</div>
			</div>
		{% endif %}
		{% if section is defined and HEADER.background.url is defined and HEADER.hideSection is not defined %}
			<div class="sectionTitle bottom">
				<a href="{{ section.url }}">{{ section.title }}</a>
			</div>
		{% endif %}

	</div>
	
	<div class="navbar-separator" id="UKMheader_separator"></div>
{% endblock %}	

