<div class="row sitemap mt-1 mt-md-5">
	{% set section = Sitemap.getSection('UKM') %}
	<div class="col-xs-12 col-md-8 col-lg-8 section divider">
		<div class="pageContainer row">
			{% for page in section.getPages().getAll() if page.getId() not in ['pressebilder'] %}
				<div class="col-6 col-lg-4">
					<div class="page p-2 m-1 my-2 m-md-2 center">
						<a href="{{ page.getUrl() }}" {{ page.getTargetProperty() }} class="">
							{{ page.getTitle() }}
						</a>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="row">
			<div class="col-12 pageContainer">
				{% set section = Sitemap.getSection('ukmtv') %}
				<div class="page p-2 m-1 m-md-2 center">
					<a href="{{ section.getUrl() }}">
						{{ section.getTitle() }}
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 center mt-4">
				<div class="d-inline mr-2">
					<a href="https://facebook.com/UKMNorge/" target="_blank">
						<span style="font-size: 3em;"><img src="//grafikk.ukm.no/UKMresponsive/img/Entypo-social/facebook-with-circle.svg" width="35" /></span></a>
				</div>

				<div class="d-inline mx-2">
					<a href="{{ Sitemap.getPage('UKM','pressebilder').getUrl() }}" target="_blank">
						<span style="font-size: 3em;"><img src="//grafikk.ukm.no/UKMresponsive/img/Entypo-social/flickr-with-circle.svg" width="35" /></span></a>
				</div>

				<div class="d-inline ml-2">
					<a href="https://instagram.com/ukmnorge/" target="_blank">
						<span style="font-size: 3em;"><img src="//grafikk.ukm.no/UKMresponsive/img/Entypo-social/instagram-with-circle.svg" width="35" /></span></a>
				</div>

			</div>
		</div>



		<div class="row-flex">
			<div class="col-4 float-right" align="right">
				<a href="{{ Sitemap.getSection('english').getUrl() }}">ENGLISH</a>
			</div>
		</div>
	</div>


	<div class="col-xs-12 col-md-4 col-lg-4 section">
		{% for section in Sitemap.getSections() if section.getId() in ['organisasjonen','arrangorer'] %}
			<h2 class="header" style="color: #{{ section.getColor() }}; border: 0px;">
				<a href="{{ section.getUrl() }}" style="color: #{{ section.getColor() }};">{{ section.getTitle() }}</a>
			</h2>
			<ul class="list-unstyled pages">
			{% for page in section.getPages().getAll() %}
				<li>
					<a href="{{ page.getUrl() }}" {{ page.getTargetProperty() }}>
						{{ page.getTitle() }}
					</a>
				</li>
			{% endfor %}
			</ul>
		{% endfor %}
	</div>

</div>