{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block javascripts %}
	<script src="//grafikk.ukm.no/UKMresponsive/swipebox/js/jquery.swipebox.js"></script>
	{{ parent() }}
	<script>
		$(document).ready(function(){
			$( '.swipebox' ).swipebox(
				{
					removeBarsOnMobile: false,
					hideBarsDelay: 0
				}
			);
		});
	</script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="//grafikk.ukm.no/UKMresponsive/swipebox/css/swipebox.css" />
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% for forestilling in monstring.getProgram().getAll() if forestilling.getInnslag().getAntall > 0 %}
					<h2>{{ forestilling.getNavn() }}</h2>
						
					{% for innslag in forestilling.getInnslag().getAll() %}
						{% for bilde in innslag.getBilder().getAll() if bilde.getPlid() == monstring.getId() %}
							{% spaceless %}
								<a href="{{ bilde.getSize('large').getUrl() }}" class="swipebox" title="{{ innslag.getNavn() }} av {{ bilde.getAuthor().getNiceName() }}">
									<img src="{{ bilde.getSize('lite', 'medium').getUrl() }}" alt="image" class="m-1" />
								</a>
							{% endspaceless %}
						{% endfor %}
					{% endfor %}
				{% endfor %}
	 		</div>
	 	</div>
	</div>
{% endblock content %}