{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% for forestilling in monstring.getProgram().getAll()|filter(forestilling => forestilling.getInnslag().getAntall > 0 and (visAlle or forestilling.getId() == vis )) %}
					<h2>{{ forestilling.getNavn() }}</h2>
						
					<div class="images-grid">
						{% for innslag in forestilling.getInnslag().getAll() %}
							{% for bilde in innslag.getBilder().getAll()|filter(bilde => bilde.getPlid() == monstring.getId()) %}
								{% spaceless %}
										<a href="{{ bilde.getSize('large').getUrl() }}" class="swipebox image-wrapper" data-width="{{ bilde.getSize('lite','medium').getWidth() }}" data-height="{{ bilde.getSize('lite','medium').getHeight() }}" title="{{ innslag.getNavn() }} av {{ bilde.getAuthor().getNiceName() }}">
											<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ bilde.getSize('lite', 'medium').getUrl() }}" alt="" class="image-thumb lazyLoad" />
										</a>
								{% endspaceless %}
							{% endfor %}
						{% endfor %}
					</div>
				{% endfor %}
	 		</div>
	 	</div>
	</div>
{% endblock content %}