{# Embedded element - brukes for kjapp innlasting av oversikts-siden. Se innslag.html.twig for hovedsiden som lastes inn når man trykker på en deltaker. #}
<li class="list-group-item innslagElement click">
	<div class="originalElement">
		<input type="hidden" class="innslagsID" value="{{ innslag.id }}" />
		{# {{ dump(innslag) }} #}
		<div class="row">
			<div class="col-8">
				<strong class="innslagNavn">{{ innslag.getNavn() }}</strong><span class="deltakerkommune"> fra {{ innslag.getKommune() }}</span>
			</div>
			<div class="col-4 right innslagType">
				<div class="type">{{ innslag.getType() }}</div>
				<div class="sjanger text-right is-breakable">{{ innslag.getSjanger() }}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12"><small>Trykk for mer informasjon</small></div>
		</div>
	</div>
	<div class="collapse dynamicElement">
		<div class="center">
			<img class="loadingGif" width="100" src="{{ UKMasset('img/ukm-logo-pulse-breathe.gif') }}"/><br />
			<button class="btn btn-large btn-default">Lukk</button>
		</div>
	</div>
</li>