{#
CONTAINER 
 (javascript.slideDown() trigges når HTML er lastet) 
 <div class="row-flex" id="UKM_favoritt" style="display:none;">
#}
<div class="" id="UKMfavoritt" style="display:none">
	<div class="header">
		<div class="row align-items-center py-1">
			<div class="col-2 pl-4" style="line-height: 0em;">
				<span class="icon icon-heart" style="font-size: 2.5em;"></span>
			</div>
			<div class="col-6 name">
				 {{ monstring.getNavn() }}
			</div>
			<div class="col-4 date right pr-4">
				{{ monstring.getStart()|date('d.M') }}
			</div>
		</div>
	</div>
	<div class="body pt-1 pb-2">
		<div class="col-12 small right">
			<a href="{{ Sitemap.getPage('derdubor') }}">Er ikke {{ monstring.getNavn() }} ditt UKM?</a>
		</div>
		
		
		<div class="row-flex">
		
			<div class="col-12">
				<div class="row-flex mt-2 small center">
					{% embed "UKMDesignBundle:Kommune:meny.html.twig"|UKMpath %}{% endembed %}
				</div>
			</div>

			<div class="col-12">
				<div class="card mt-3 p-0 px-0">
					<div class="row mb-0 pb-0 post small">
						<div class="col-4 px-0 post-grid-default">
							<div class="image" style="background-image: url('{{ post.image.medium.src }}');">
								<span class="badge badge-primary small" style="font-weight: normal">Siste nyhet</span>
							</div>
						</div>
						<div class="col-8 py-1 pr-1">
							<p class="bold mb-1">{{ post.title|raw }}</p>
							<p class="nocolor mb-1">
								{{ post.lead|raw }}
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-12 center my-3">
				<a href="{{ monstring.getLink() }}" class="">
					Alt om UKM {{ monstring.getNavn() }}
				</a>
			</div>

			<div class="clearfix"></div>
			
		</div>
	</div>
</div>
