{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Kontaktpersoner for {{ monstring.getNavn() }}</h3>
				<p>
					Lurer du på noe om UKM i din {{ monstring.getFylke().getId() == 3 ? 'bydel' : 'kommune' }},
					 må du ta kontakt med lokalkontakten din. 
					{% if monstring.getType() == 'fylke' %}
						Kontaktinformasjon finner du ved å 
						 <a href="{{ monstring.getLink() }}lokalmonstringer/">
						 	velge din {{ monstring.getFylke().getId() == 3 ? 'bydel' : 'kommune' }}
						 </a>.
					{% endif %}
				</p>
			</div>
			{% for kontakt in monstring.getKontaktpersoner().getAll() %}
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
					{% embed "UKMDesignBundle:Kontaktpersoner:grid.html.twig"|UKMpath %}{% endembed %}
				</div>
			{% endfor %}
		</div>
		<div class="clearfix my-3"></div>
		<div class="row">
			<div class="col-12">
				<p>
					<a href="{{ monstring.getLink() }}">Tilbake til {{ monstring.getNavn() }}</a>
				</p>
	</div>
{% endblock %}