{% extends "UKMDesignBundle:Layout:_base.html.twig"|UKMpath %}

{% block content %}
	<div class="container-fluid">
		<div class="row-flex">
			<div class="col-12 col-md-4 col-lg-3 float-right mb-4">
			{% if pamelding_apen %}
				<h3>Påmeldingen er åpen!</h3>
				<p class="lead">
					<span class="d-none d-md-block">Meld deg på ved å velge din {{ fylke.erOslo() ? 'bydel' : 'kommune' }} i listen til venstre.</span>
					<span class="d-block d-md-none">Meld deg på ved å velge din {{ fylke.erOslo() ? 'bydel' : 'kommune' }} nedenfor.</span>
				</p>
			{% else %}
				<p class="lead">
					<span class="d-none d-md-block">Les mer om UKM i din {{ fylke.erOslo() ? 'bydel' : 'kommune' }} ved å velge {{ fylke.erOslo() ? 'bydel' : 'kommune' }} i listen til venstre.</span>
					<span class="d-block d-md-none">Les mer om UKM i din {{ fylke.erOslo() ? 'bydel' : 'kommune' }} ved å velge {{ fylke.erOslo() ? 'bydel' : 'kommune' }} nedenfor.</span>
				</p>
			{% endif %}
			</div>
			
			<div class="col-12 col-md-8 col-lg-9 col-xl-9 float-left mb-4">
				<div class="mb-4">
					{% embed "UKMDesignBundle:Fylke:lokalmonstringer_velg.html.twig"|UKMpath %}{% endembed %}
					<div class="clearfix"></div>
				</div>
			</div>
			
			<div class="col-12 col-md-4 col-lg-3 float-right">
				<h3>Hva er UKM?</h3>
				<p>{{ THEME_CONFIG('hvaerukm').kort }} 
					<br />
					<a href="{{ THEME_CONFIG('hvaerukm').lesmer }}" >Les mer</a>
				</p>
			</div>
		</div>
	</div>
	
	{% if fylke.erRegistrert() %}
		<div class="clearfix mt-4"></div>
		<div class="container-fluid">
			<div class="row align-items-center fylkesfestival-banner py-3 px-3">
				<div class="col-7 title">
					UKM-festivalen i {{ fylke.getNavn() }}
				</div>
				<div class="col-5 date right small">
					{% if fylke.getStart()|dato('m') == fylke.getStop()|dato('m') %}
						{% if fylke.getStart()|dato('j') == fylke.getStop()|dato('j') %}
							{{ fylke.getStop()|dato('j. F') }}
						{% else %}
							{{ fylke.getStart()|dato('j') }} - {{ fylke.getStop()|dato('j. F') }}
						{% endif %}
					{% else %}
						{{ fylke.getStart()|dato('j.M') }} - {{ fylke.getStop()|dato('j.M') }}
					{% endif %}
					<br />
					{{ fylke.getSted() }}
				</div>
			</div>

			<div class="row-flex fylkesfestival-banner-menu-container">
				<div class="col-12 col-lg-3 float-lg-right float-xl-right mt-4 fylkesfestival-banner-menu">
					{% embed "UKMDesignBundle:Fylke:meny.html.twig"|UKMpath %}{% endembed %}
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row-flex">
				<div class="col-12 col-lg-9 float-lg-left float-xl-left mt-4">
					{% if posts.getAntall() == 0 and harFylkeInfo %}
						{{ fylkeInfo.getPage().content|raw }}
					{% else %}
						<div class="row">
							{% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {singleMode: true, posts: posts.getAll(), hideNoneFound: true} %}{% endembed %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}