{% extends "UKMDesignBundle:Layout:_base.html.twig"|UKMpath %}

{% set daysUntil = date( fylke.getStart() ).diff( date(now) ).days %}

{% block content %}
	<div class="fylkesfestival">
		<div class="container mb-4" style="margin-top:-1em;">
			<div class="row align-items-center py-3">
				<div class="col-8 col-sm-9 col-md-10 title">
					{{ fylke.getSted()|upper }}
				</div>
				
				<div class="col-4 col-sm-3 col-md-2 center">
					<div class="calendar">
						<div class="month autoshrink">
							{{ fylke.getStart()|dato('F') }}
						</div>
						<div class="dato">
							{{ fylke.getStart()|dato('j.') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row-flex">
			<div class="col-12 col-lg-4 float-right mb-4">
				<div class="center small mb-4">
					<p>
						{% if fylke.erAktiv() %}
							Fylkesfestivalen i {{ fylke.getNavn() }} er endelig i gang!
							<br />
							{{ fylke.getStart()|dato('D j.M')|capitalize }} til {{ fylke.getStop()|dato('D j.M') }}.
						{% elseif daysUntil < 4 and daysUntil > 1 %}
							{{ daysUntil }} dager igjen! Fylkesfestivalen i {{ fylke.getNavn() }} starter {{ fylke.getStart()|dato('d.M') }} kl. {{ fylke.getStart()|dato('H:i') }}
						{% elseif daysUntil == 1 %}
							Fylkesfestivalen i {{ fylke.getNavn() }} starter kl {{ fylke.getStart()|dato('H:i') }} i dag.
						{% elseif daysUntil < 1 %}
							Fylkesfestivalen i {{ fylke.getNavn() }} var fra {{ fylke.getStart()|dato('l j.F') }} til {{ fylke.getStop()|dato('l j.F') }}.
						{% else %}
						 	Bare {{ daysUntil }} dag{{ daysUntil > 1 ? 'er' }} til fylkesfestivalen i {{ fylke.getNavn() }}!
						{% endif %}
					</p>
				</div>
				{% embed "UKMDesignBundle:Fylke:meny.html.twig"|UKMpath %}{% endembed %}
				<p class="mt-3 center small">
					<a href="ukm-lokalt/">Info om UKM i din {{ fylke.erOslo() ? 'bydel' : 'kommune' }}</a>
				</p>

			</div>
		
			<div class="col-12 col-lg-8 float-left">
				{% if posts.getAntall() == 0 and harFylkeInfo %}
					{{ fylkeInfo.getPage().content|raw }}
				{% else %}
					<div class="row">
						{% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {singleMode: true, posts: posts.getAll(), hideNoneFound: true} %}{% endembed %}
					</div>
				{% endif %}
			</div>
			
		</div>
	</div>

{% endblock %}

{% block saveIt %}
				<a href="#" class="btn btn-outline-primary btn-block">Program</a>
				<a href="#" class="btn btn-outline-primary btn-block">Påmeldte</a>
				<a href="#" class="btn btn-outline-primary btn-block">Praktisk informasjon</a>
				<a href="#" class="btn btn-outline-primary btn-block">Kontakt</a>
{% endblock %}