{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% set maned = null %}

{% block content %}
	<div class="container">
		<h2>Velg {{ fylke.erOslo() ? 'bydel' : 'kommune' }}</h2>

		<ol class="list-group">
		{% for lokalmonstring in lokalt %}
			{% if maned != lokalmonstring.getStart()|dato('F') %}
				{% set maned = lokalmonstring.getStart()|dato('F') %}
				</ol>
				<h2 class="my-3">
					{{ maned|capitalize }}
				</h2>
				<ol class="list-group">
			{% endif %}
			<li class="list-group-item">
				<div class="float-right">
					<small>Uke {{ lokalmonstring.getStart()|dato('W') }}</small>
				</div>
				<div class="col">
					<a href="{{ lokalmonstring.getLink() }}" class="mx-0" style="line-height: 1.25em;">
						{{ lokalmonstring.getNavn() }}
					</a>
				</div>
				<div class="col">
					{% if lokalmonstring.getStart()|dato('m') == lokalmonstring.getStop()|dato('m') %}
						{% if lokalmonstring.getStart()|dato('j') == lokalmonstring.getStop()|dato('j') %}
							{{ lokalmonstring.getStop()|dato('j. F') }}
						{% else %}
							{{ lokalmonstring.getStart()|dato('j') }} - {{ lokalmonstring.getStop()|dato('j. F') }}
						{% endif %}
					{% else %}
						{{ lokalmonstring.getStart()|dato('j.M') }} - {{ lokalmonstring.getStop()|dato('j.M') }}
					{% endif %}
				</div>
			</li>
		{% endfor %}
		</ol>

		<p class="my-4">
			<a href="{{ fylke.getLink() }}">Tilbake til {{ fylke.getNavn() }}</a>
		</p>
	</div>
{% endblock %}