<div id="finnKommune">
    <div class="form-group">
        <input type="text" name="search" class="form-control " placeholder="Søk etter kommune" id="filterKommune"/>
    </div>

    <div class="fade-collapsible">
        <div class="content">
            <div class="row">
                {% for kommune in fylke.getKommuner().getAll() %}
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-2 kommune" data-filter="{{ include("Kommune:filternavn.html.twig"|UKMpath)|oneline|lower }}">
                        <a href="{{ kommune.getLink() }}" class="btn btn-block btn-outline-primary" style="line-height: 1.25em;">
                            <div class="autoshrink">
                                {{ kommune.getNavn() }}
                            </div>
                            {% if kommune.getTidligere()|length > 0 %}
                                <div class="autoshrink">
                                    <small>Tidligere
                                        {% for tidligere in kommune.getTidligere() %}
                                            {{ tidligere.getNavn() }}{{ not loop.last ? ', ' }}
                                        {% endfor %}
                                    </small>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        UKMresponsive.kommuneliste('#finnKommune');
    });
</script>
