{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		google.charts.load('current', {'packages':['corechart']});
	</script>
	<script>
		{% embed "Statistikk:js:per_dag_hele_perioden.js.twig"|UKMpath %}{% endembed %}
		{% embed "Statistikk:js:per_dag_per_maned.js.twig"|UKMpath %}{% endembed %}
		{% embed "Statistikk:js:per_uke_hele_perioden.js.twig"|UKMpath %}{% endembed %}
		{% embed "Statistikk:js:per_uke_per_maned.js.twig"|UKMpath %}{% endembed %}
    </script>
    
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Påmeldingsstatistikk siste {{ history }} år</h1>	

				<p class="help">
					<small>
						*) Antall påmeldte for året vil ikke stemme 100% med det reelle deltakelsestallet for året.
						Dette fordi påmeldinger gjort av arrangører før 1.{{ start_maned }}, påmeldinger gjort etter 31.03 eller såkalte "uregistrerte" deltakere ikke regnes med.
						Disse avgrensningene er lagt inn for å gi et mest mulig korrekt sammenligningsgrunnlag for antall påmeldinger gjennomført i påmeldingsmånedene.
					</small>
				</p>


				<ul class="nav nav-tabs col-xs-12">
					<li class="nav-item active">
						<a href="{{ page.getPage().url }}" class="nav-link {{ not active ? 'active' }}" data-toggle="tab">Hele perioden</a>
					</li>
					{% for mnd, dager in stat_mnd %}
						<li class="nav-item">
							<a href="{{ page.getPage().url }}{{ mnd }}/" class="nav-link {{ mnd == active ? 'active' }}" data-toggle="tab">{{ mnd|maned }}</a>
						</li>
					{% endfor %}
				</ul>
				<div class="tab-content">
			        <div class="tab-pane active" id="tab_0">
						<div id="akk_per_dag_hele_perioden" style="height:55vh; width: 100%;"></div>
				    	<div id="per_uke_hele_perioden" style="height:55vh; width: 100%;"></div>
				    	<div id="per_dag_hele_perioden" style="height:55vh; width: 100%;"></div>
			        </div>
			        
					{% for mnd, dager in stat_mnd %}
			        <div class="tab-pane" id="tab_{{ loop.index }}">
						<div id="pameldte_akk_per_dag_per_maned_{{mnd}}" style="height:55vh; width: 100%;"></div>
						<div id="pameldte_per_uke_per_mnd_{{mnd}}" style="height:55vh; width: 100%;"></div>
						<div id="pameldte_per_dag_per_maned_{{mnd}}" style="height:55vh; width: 100%;"></div>
				    </div>
					{% endfor %}
				</div>
				
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
{% endblock %}