<div class="post mb-1 mt-3" id="home_norge_nyhet">
	<a href="{{post.url}}">
		<div class="post-grid-pretty mb-0" style="background-image: url('{{post.image.medium.src}}');">
			<span class="badge badge-primary small float-right" style="font-weight: normal">Siste nyhet</span>
			{% if post.meta.video_on_top is defined and post.meta.video_on_top is not empty %}
				<img src="{{ UKMasset('img/circle-play.png') }}" class="featured-image-play" />
			{% endif %}
			<header>
				<h1>
					{{ post.title|raw }}
				</h1>
			</header>
		</div>
		{% if showLead is defined and showLead %}
			<p class="mt-1 mb-5">
				{{ post.lead|raw }}
			</p>
		{% endif %}
	</a>
</div>
<div class="mb-3" align="right">
	<small>
		<a href="{{ Sitemap.getPage('egoego','forsiden') }}">Se flere saker på redaksjonelt-siden vår</a>
	</small>
</div>