{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			UKMresponsiveAJAX('favoritt', 'favoritt');
		});
	</script>
{% endblock %}

{% block content %}

	{% if in_season %}
		<div class="fylkesfestival">
			<div class="container mb-3" style="margin-top:-1em;">
				<div class="row align-items-center py-3">
					<div class="col-8 col-sm-9 col-md-10 title">
						{% if pamelding_apen %}
							<a href="{{ Sitemap.getPage('UKM','derdubor') }}" class="btn btn-outline-light">Start påmelding</a>
						{% else %}
							<a href="{{ Sitemap.getPage('UKM','derdubor') }}" class="btn btn-outline-light">Finn nærmeste UKM</a>
						{% endif %}
					</div>
					
					<div class="col-4 col-sm-3 col-md-2 center">
						<div class="calendar">
							<div class="dato">
								{{ pameldte }}
							</div>
							<div class="month autoshrink">
								<small>PÅMELDTE</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}


	<div class="container-fluid">
		<div class="row-flex">
			{# FINN NÆRMESTE UKM ELLER "FAVORITT-UKM"-BOKS #}
			<div class="col-12 col-md-5 mb-3 float-right">
				{% if ( in_season and pamelding_apen ) or not in_season %}
					<div class="right">
						<a href="{{ Sitemap.getPage('UKM','derdubor') }}" class="btn btn-primary">Finn nærmeste UKM</a>
					</div>
				{% endif %}
				<div class="d-none d-md-block mt-3">
					<div class="frontpage-box mitt_UKM"></div>
					<div class="nyhet">{% embed "UKMDesignBundle:Page:home_norge_nyhet.html.twig"|UKMpath with {post: news } %}{% endembed %}</div>
					<div class="frontpage-box kort_om_UKM mt-3">
						{% embed "UKMDesignBundle:Page:home_norge_kort_om_ukm.html.twig"|UKMpath %}{% endembed %}
					</div>
				</div>
			</div>

			{# HVA ER UKM? #}
			<div class="col-12 col-md-7 float-left mt-3 mb-2">
				<div class="lead">
					{{ THEME_CONFIG.get('hvaerukm').kort|raw }}
				</div>
				<div class="col-12 d-block d-md-none mt-3">
					<div class="frontpage-box mitt_UKM"></div>
					<div class="nyhet">{% embed "UKMDesignBundle:Page:home_norge_nyhet.html.twig"|UKMpath with {post: news } %}{% endembed %}</div>
					<div class="frontpage-box kort_om_UKM mt-3">
						{% embed "UKMDesignBundle:Page:home_norge_kort_om_ukm.html.twig"|UKMpath %}{% endembed %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	{% for section in page.getPageBlocks().getAll() %}
		{% embed ("UKMDesignBundle:PageBlock:"~ section.template ~".html.twig")|UKMpath with{ block: section } %}{% endembed %}
	{% endfor %}
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="mx-4" align="center">
					<h3>Leter du etter sakene våre?</h3>
					<a href="{{ Sitemap.getPage('egoego','forsiden') }}">Vi har flyttet de til redaksjonelt-siden</a>
				</div>
			</div>
		</div>
	</div>
		

	{#
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 px-4">
				<h4 class="mt-5">Nyheter fra UKM</h4>
				<div class="row">
					{% for post in posts.getAll() %}
						<div class="col-12 col-sm-6">
							{% embed "Post:grid-pretty.html.twig"|UKMpath with { post: post, showLead:true } %}{% endembed %}
						</div>
					{% endfor %}
				</div>
				{% embed "Category:next_prev_links.html.twig"|UKMpath %}{% endembed %}
			</div>
		</div>
	</div>
	#}
{% endblock %}