{% extends "Layout/_layout.html.twig"|UKMpath %}

{% block content %}
{% if post.image.large.src is defined and post.image.large.src is not empty %}
	<div id="the_post_image" style="background-image: url('{{ post.image.large.src }}');"></div>
{% endif %}
<div class="container">
	<div class="row">
		<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
			<article>
				<div class="row postmeta">
					<div class="col">
						{{ post.date|dato }}
					</div>
					<div class="col right">
						{% for category in post.categories %}
							<a href="{{ category.url }}">{{ category.title }}</a>{% if not loop.last %}, {% endif %}
						{% endfor %}
					</div>
				</div>
				<h1>{{ post.title|raw }}</h1>
				<p class="lead">{{ post.lead|raw }}</p>
				
				<div class="d-block d-md-none center" style="margin-bottom: 1em;">
					<div class="center fb-like" data-href="{{ post.url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
				</div>

				<p>{{ post.content_wo_lead|raw }}</p>
			</article>
		</div>
		
		<div class="col-md-2 col-lg-3 float-right">
			<div class="madeby">
				<div class="row">
					<div class="col">
						{% for author in authors %}
							{% embed "Post:madeby.html.twig"|UKMpath %}{% endembed %}
							<div class="clearfix"></div>
						{% endfor %}
						<div class="float-right right my-1" style="margin-left: 1em; margin-bottom: 1em;">
							<div class="fb-like" data-href="{{ post.url }}" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}