<a href="{{post.url}}">
	<div class="post-grid-default">
		<div class="image" style="background-image: url('{{ post.image.medium.src }}');"></div>	
		<p class="mb-1 bold">
			{{ post.title|raw }}
		</p>
		<p class="nocolor mt-0">
			{{ post.lead|raw }}
		</p>

{#
			{% if hidelead is not defined %}
				{{ post.lead|raw }}
			{% endif %}
			{% if hideleadmobile is not defined and hidelead is not defined %}
				{{ post.lead|raw }}
			{% endif %}
			
			{% if hidelead or hideleadmobile is defined %}
				<a href="{{ post.url }}">Les mer</a>
			{% endif %}
#}
		</p>
	</div>
</a>