<div class="fylkesfestival">
	<div class="container-fluid mb-3" style="margin-top:-1em;">
		<div class="row align-items-center py-3">
			<div class="col-12 title">
                {% if arrangement.getSted() is not empty %}
                    <div class="icon icon-location-pin float-left mr-2 mt-2" style="font-size: 2em;"></div>
                    <p class="mb-1" style="margin-top: 0.1rem !important">{{ arrangement.getSted()|upper }}</p>
                    <p class="mb-2 mt-0 small">
                {% else %}
                    <div class="icon icon-home float-left mr-3 mt-2" style="font-size: 2em;"></div>
                    <p style="margin-top: .75rem !important">
                {% endif %}

                    {# FORENKLE KLOKKA HVIS MULIG #}
                    {% if arrangement.getStart()|dato('i') == '00' and arrangement.getStop()|dato('i') == '00' %}
                        {% set timeFormat = 'G' %}
                    {% else %}
                        {% set timeFormat = 'H:i' %}
                    {% endif %}

                    {# SAMME DAG #}
                    {% if arrangement.getStart()|dato('d.m') == arrangement.getStop()|dato('d.m') %}
                        {{ arrangement.getStart()|dato('D d. M')|capitalize }} kl. {{ arrangement.getStart()|dato( timeFormat ) }}
                        - {{ arrangement.getStop()|dato( timeFormat ) }}
                    {# FLERE DAGER #}
                    {% else %}
                        {{ arrangement.getStart()|dato('j.M') }} kl. {{ arrangement.getStart()|dato('H:i') }}
                        til
                        {{ arrangement.getStop()|dato('j.M') }} kl. {{ arrangement.getStop()|dato('H:i') }}
                    {% endif %}
                </p>
			</div>
			
			
		</div>
	</div>
</div>