{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
    <div class="container-fluid">
        <div class="row-flex">
            <div class="col-12 col-md-4 col-xl-3 float-right mb-4">
                {% if not arrangement.erStartet() %}
                    <p class="my-5 center">
                        Nettpåmeldingen er stengt, men du kan
                        <a href="kontaktpersoner/">ringe lokalkontakten</a>
                    </p>
                {% endif %}
            </div>
            {# VIS ENTEN POSTS ELLER HVA ER UKM #}
            <div class="col-12 col-md-8 col-xl-9 float-left" style="min-height:12em;">
                {% if posts.getAntall() > 0 %}
                    {% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {singleMode:true, posts: posts.getAll(), hideNoneFound: true} %}{% endembed %}
                {% else %}
                    <h3>Hva er UKM?</h3>
                    <p>{{ THEME_CONFIG.get('hvaerukm').kort|raw }}
                        <br/>
                        <a href="{{ THEME_CONFIG.get('hvaerukm').lesmer }}">Les mer</a>
                    </p>
                {% endif %}
            </div>

            <div class="col-12 col-md-4 col-xl-3 float-right mb-4">
                {% include "UKMDesignBundle:Arrangement:Meny.html.twig"|UKMpath %}
                <h3>Kontaktpersoner for
                    {{ arrangement.getNavn() }}</h3>
                {% include "UKMDesignBundle:Omrade:Kontaktpersoner.html.twig"|UKMpath with {fullframe:true, navn: arrangement.getNavn(), kontaktpersoner: arrangement.getKontaktpersonerEllerAdministratorer()} %}

            </div>
            {# HVIS ARRANGEMENTET HAR POSTS, GÅR DE PÅ TOPP, OG DA MÅ HVA ER UKM KOMME IGJEN I BUNN AV SIDEN #}
            {% if posts.getAntall() > 0 %}
                <div class="col-12 col-md-8 col-xl-9 float-left">
                    <h3>Hva er UKM?</h3>
                    <p>{{ THEME_CONFIG.get('hvaerukm').kort|raw }}
                        <br/>
                        <a href="{{ THEME_CONFIG.get('hvaerukm').lesmer }}">Les mer</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
