<div class="page-menu">
	<div class="row">
		{% if visNettside is defined and visNettside != false %}
			<div class="col menu-item">
				<a href="{{ arrangement.getLink() }}">
					<div class="icon icon-home"></div>
					<div class="text">Gå til nettsiden</div>
				</a>
			</div>
		{% endif %}
		{% if harProgram %}
			<div class="col menu-item">
				<a href="{{ monstring.getLink() }}program/">
					<div class="icon icon-calendar"></div>
					<div class="text">Program</div>
				</a>
			</div>
		{% endif %}
		{% if harTV %}
			<div class="col menu-item">
				<a href="//tv.ukm.no/fylke/{{ fylke.getPath() }}/{{ fylke.getSesong() }}/">
					<div class="icon icon-tv"></div>
					<div class="text">UKM-TV</div>
				</a>
			</div>
		{% endif %}
		{% if harPameldte %}
		<div class="col menu-item">
			<a href="{{ monstring.getLink() }}pameldte/">
				<div class="icon icon-users"></div>
				<div class="text">Påmeldte</div>
			</a>
		</div>
		{% endif %}
		{% if harInfoPage and posts.getAntall() > 0 %}
			<div class="col menu-item">
				<a href="{{ monstring.getLink() }}info/">
					<div class="icon icon-info-with-circle"></div>
					<div class="text">Festival-info</div>
				</a>
			</div>
		{% endif %}
		<div class="col menu-item">
			<a href="{{ monstring.getLink() }}kontaktpersoner/">
				<div class="icon icon-mobile"></div>
				<div class="text">Kontakt</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			{% if meny is defined and meny|length > 0 %}
				{% for element in meny %}
					<a href="{{ element.url }}" class="btn btn-outline-primary btn-block btn-sm">
						{{ element.title }}
					</a>
				{% endfor %}
			{% endif %}
		</div>

	</div>
</div>