{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	{% if monstring.erRegistrert() %}
		{% embed "UKMDesignBundle:Monstring:banner.html.twig"|UKMpath %}{% endembed %}
	{% endif %}
	<div class="container-fluid">
		{% embed "UKMDesignBundle:Monstring:favoritt.html.twig"|UKMpath %}{% endembed %}
		<div class="row-flex vertical-align-top">
			<div class="col-12 col-md-8 float-left">
				{# PÅMELDINGEN ER IKKE STARTET, VIS SMS-REMINDER-SKJEMA #}
				{% if state == 'pre_pamelding' %}
					<div class="my-4">
						<p class="lead">
							Vil du ha en gratis sms-påminnelse når påmeldingen åpner {{ THEME_CONFIG.get('pamelding').startdato }}?
						</p>
						{% embed "UKMDesignBundle:Husk:form.html.twig"|UKMpath %}{% endembed %}
					</div>
				{% elseif state == 'pamelding' %}
					{% if not monstring.erRegistrert() %}
						<p class="lead">
							{{ monstring.getNavn() }} har ikke lagt inn dato eller påmeldingsfrist,
							men vi har likevel åpnet forhåndspåmeldingen.
						</p>
					{% else %}
						<h2>Påmeldingen er åpen!</h2>
						<small>
							{% if monstring.erRegistrert() and monstring.erPameldingApen() %}
								{% embed "UKMDesignBundle:Kommune:frister.html.twig"|UKMpath %}{% endembed %}
							{% endif %}
						</small>
					{% endif %}
					
					<p class="mt-5 center">
						<a href="//delta.{{ UKM_HOSTNAME }}" class="btn btn-block btn-primary">Start påmelding</a>
					</p>
				{% endif %}
				{% if state == 'lokalmonstring' and not monstring.erStartet() %}
					<p class="my-5 center">
						Nettpåmeldingen er stengt, men du kan <a href="kontaktpersoner/">ringe lokalkontakten</a>
					</p>
				{% endif %}
			</div>

			<div class="col-12 col-md-4 float-right">
				{% if state != 'pre_pamelding' and not monstring.erRegistrert() %}
					{% embed "UKMDesignBundle:Layout:alert_icon.html.twig"|UKMpath with {level: 'primary', icon: 'info-with-circle'} %}
						{% block content %}
							{{ monstring.getNavn() }} har ikke bestemt dato enda. 
							Synes du det burde vært gjort nå kan du <a href="kontaktpersoner/">ta kontakt med lokalkontakten</a>.
						{% endblock %}
					{% endembed %}
				{% endif %}

				
				{% if state != 'pre_pamelding' %}
					<div class="mb-3">
						{% embed "UKMDesignBundle:Kommune:meny.html.twig"|UKMpath %}{% endembed %}
					</div>
				{% endif %}
			</div>
			
			<div class="col-12 col-md-8 float-left">
				{% if harInfoPage %}
					<div class="mb-4">
						{{ infoPage.getPage().content|raw }}
					</div>
				{% endif %}
			
				{% if monstring.erRegistrert() %}
					<div class="row mb-4">
						{% set singleMode = true %}
						{% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {posts: posts.getAll(), hideNoneFound: false} %}
						{% endembed %}
					</div>
				{% endif %}

				<div class="my-4">
					<h3>Hva er UKM?</h3>
					<p>{{ THEME_CONFIG.get('hvaerukm').kort|raw }} 
						<br />
						<a href="{{ THEME_CONFIG.get('hvaerukm').lesmer }}" >Les mer</a>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}