<div class="page-menu">
	<div class="row">
		{% if linkToWebsite is defined and linkToWebsite != false %}
			<div class="col menu-item">
				<a href="{{ monstring.getLink() }}">
					<div class="icon icon-home"></div>
					<div class="text">Nettsiden</div>
				</a>
			</div>
		{% endif %}
		{% if harProgram %}
			<div class="col menu-item">
				<a href="{{ monstring.getLink() }}program/">
					<div class="icon icon-calendar"></div>
					<div class="text">Program</div>
				</a>
			</div>
		{% endif %}
		{% if monstring.getInnslag().harInnslag() %}
			<div class="col menu-item">
				<a href="{{ monstring.getLink() }}pameldte/">
					<div class="badge badge-pill badge-primary pameldte-badge">
						{{ monstring.getStatistikk().getTotal( monstring.getSesong() ).persons }}
					</div>
					<div class="icon icon-users"></div>
					<div class="text">Påmeldte</div>
				</a>
			</div>
		{% endif %}
		{% if ukmtv %}
			<div class="col menu-item">
				<a href="//tv.ukm.no/lokal/{{ (monstring.getKommuner()|first).getId()~'-'~(monstring.getKommuner()|first).getURLsafe()~'/'~ monstring.getSesong() }}/">
					<div class="icon icon-tv"></div>
					<div class="text">TV</div>
				</a>
			</div>		
		{% endif %}
		{% if state == 'ferdig' and harInfoPage %}
			<div class="col menu-item">
				<a href="{{ monstring.getLink() }}info/">
					<div class="icon icon-info-with-circle"></div>
					<div class="text">Praktisk info</div>
				</a>
			</div>
		{% endif %}
		<div class="col menu-item">
			<a href="{{ monstring.getLink() }}kontaktpersoner/">
				<div class="icon icon-mobile"></div>
				<div class="text">Kontakt</div>
			</a>
		</div>
	</div>
	
	<div class="row mt-3">
        {% if direkte is defined and direkte != false %}
			<div class="col">
				{% if direkte.type == 'link' %}
					<a href="{{ direkte.link }}" class="btn btn-block btn-primary">Se direktesending her</a>
				{% endif %}
			</div>
        {% endif %}
        <div class="col">
            <a href="/{{ monstring.getFylke().getLink() }}/" target="_blank" class="btn btn-sm btn-block btn-outline-primary">UKM {{ monstring.getFylke() }}</a>
        </div>
	</div>
	<div class="clearfix"></div>
</div>