<div class="card">
    {% if kontakt.getBilde() is not empty %}
	    <div class="card-img-top kontaktperson-bilde" style="background-image: url('{{ kontakt.getBilde() }}');">&nbsp;</div>
    {% else %}
        <div class="card-img-top center">
            <div class="icon icon-user kontaktPlaceholder"></div>
        </div>
    {% endif %}
	<div class="card-body px-2 pt-0">
		<p class="card-title my-1 bold">{{ kontakt.getNavn() }}</p>
		<p class="card-text mt-0">{{ kontakt.getTittel() }}</p>
		{% if kontakt.getBeskrivelse() is not empty %}
			<p>{{ kontakt.getBeskrivelse()|raw }}</p>
		{% endif %}
		{% if kontakt.getTelefon() is not empty %}
			<a href="tel:{{ kontakt.getTelefon() }}" class="btn btn-sm btn-outline-primary btn-block">
				{{ kontakt.getTelefon()|telefon }}
			</a>
		{% endif %}
		{% if kontakt.getEpost() is not empty %}
			<a href="mailto:{{ kontakt.getEpost() }}" class="btn btn-sm btn-outline-primary btn-block" style="line-height: 1.5em;">
				<div class="autoshrink">{{ kontakt.getEpost() }}</div>
			</a>
		{% endif %}
		{% if kontakt.getFacebook() is not empty %}
			<a href="{{ kontakt.getFacebook() }}" class="btn btn-sm btn-outline-primary btn-block">på facebook</a>
		{% endif %}
	</div>
</div>